language: ruby
rvm:
  - 2.3.1
  - 2.3.0
  - 2.2.3
  - 2.2.2
  - 2.1.5

addons:
  postgresql: "9.3"

services:
  - postgresql

env:
  - "default"
  - "RAILS_VERSION=4.0"
  - "RAILS_VERSION=4.1"
  - "RAILS_VERSION=4.2"
  - "RAILS_VERSION=5.0"

before_script:
  - psql -c 'create database dummy_test;' -U postgres
  - bin/setup

script: bin/test
