<div class='title-bar'>
  <h1 class='title-bar__text'><%= "Editing  #{@model.to_s.titleize}" %></h1>
</div>


<%= form_for([:admin, @thing]) do |form| %>
  <%= render 'form', f: form %>
  <%= form.button :submit %>
<% end %>
