<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Colors</h1>
  </div>
  <div class="panel panel--dashboard">
    <div class="panel--dashboard__section panel--dashboard__section--primary">Primary</div>
    <div class="panel--dashboard__section panel--dashboard__section--secondary">Secondary</div>
    <div class="panel--dashboard__section panel--dashboard__section--accent">Accent</div>
    <div class="panel--dashboard__section panel--dashboard__section--alert">Alert</div>
    <div class="panel--dashboard__section panel--dashboard__section--success">Success</div>
    <div class="panel--dashboard__section panel--dashboard__section--warning">Warning</div>
    <div class="panel--dashboard__section panel--dashboard__section--secure">Secure</div>

    <!-- TODO: Fix inverted button -->
    <div class="panel--dashboard__section panel--dashboard__section">Inverted</div>
  </div>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Headers</h1>
  </div>
  <p>
    <h1>h1 Hello, World</h1>
    <h2>h2 Hello, World</h2>
    <h3>h3 Hello, World</h3>
    <h4>h4 Hello, World</h4>
    <h5>h5 Hello, World</h5>
    <h6>h6 Hello, World</h6>
  </p>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Type Selectors</h1>
  </div>
  <p>Paragraphs - Nulla mollis nisl sed diam fermentum malesuada. Suspendisse commodo rhoncus ligula, eget commodo neque lacinia ac. Aliquam cursus id tortor nec efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel ornare nisi, at ornare libero. Aenean accumsan sodales massa sit amet ultricies. Vivamus condimentum vehicula magna, eget aliquam ex hendrerit nec. Aenean congue ex orci, imperdiet ultricies justo cursus sed. Phasellus congue nulla et pharetra elementum. Nam sapien ex, pulvinar tempus eros maximus, pulvinar commodo erat. Sed id ipsum elit. Sed auctor turpis eget elit viverra egestas non in massa.</p>
  <p>Paragraphs - Nulla mollis nisl sed diam fermentum malesuada. Suspendisse commodo rhoncus ligula, eget commodo neque lacinia ac. Aliquam cursus id tortor nec efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel ornare nisi, at ornare libero. Aenean accumsan sodales massa sit amet ultricies. Vivamus condimentum vehicula magna, eget aliquam ex hendrerit nec. Aenean congue ex orci, imperdiet ultricies justo cursus sed. Phasellus congue nulla et pharetra elementum. Nam sapien ex, pulvinar tempus eros maximus, pulvinar commodo erat. Sed id ipsum elit. Sed auctor turpis eget elit viverra egestas non in massa.</p>
  <p>
    <b>Bold Text</b>
  </p>
  <p>
    <strong>Strong Text</strong>
  </p>
  <p>
    <i>Italic Text</i>
  </p>
  <p>
    <em>Emphasized Text</em>
  </p>
  <p>
    <u>Underlined Text</u>
  </p>
  <p>
    <strike>Strikethrough text</strike>
  </p>
  <p>
    This is an example of
    <sup>Superscript text</sup>
  </p>
  <p>
    This is an example of
    <sub>Subscript text</sub>
  </p>
  <p>
    This is
    <small>small text</small>
  </p>
  <p>
    <abbr title="Abbreviation">abbr</abbr>
    is an abbreviation
  </p>
  <p>
    To submit a form, press the key labeled
    <kbd>enter</kbd>
  </p>
  <p>
    <q cite="http://example.com">Quoted text</q>
  </p>
  <p>
    <blockquote>
      <p>Blockquote - Nunc mi urna, sodales eu varius tincidunt, gravida id nisl. Vestibulum at enim in tortor consectetur sagittis vitae nec tellus. Integer a gravida felis. Suspendisse pharetra elementum enim. Phasellus urna eros, accumsan at ante ut, sollicitudin sodales neque. Proin egestas vitae dui eget scelerisque. Nulla feugiat ex at erat porta, ac porttitor turpis sagittis.</p>
      <cite>
        <a>William Shatner</a>
      </cite>
    </blockquote>
  </p>
  <p>
    <dfn>The definition</dfn>
    is the word being defined
  </p>
  <p>
    <mark>Mark text</mark>
  </p>
  <p>
    <samp>Sample Text</samp>
  </p>
  <p>
    var =
    <var>x</var>
  </p>
  <p>
    <time>20:00</time>
    <time datetime="2001-05-15 19:00">May 15</time>
  </p>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Unordered Lists</h1>
  </div>
  <ul class="ul">
    <li>
      Proin vitae euismod urna. Praesent.
      <ul class="ul">
        <li>
          Aliquam condimentum dui sed dui aliquam, fringilla iaculis.
        </li>
        <li>
          Suspendisse blandit diam eu turpis.
          <ul class="ul">
            <li>
              Aliquam condimentum dui sed dui aliquam, fringilla iaculis.
            </li>
            <li>
              Suspendisse blandit diam eu turpis.
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <% 3.times do %>
      <li>Curabitur semper purus erat, non.</li>
    <% end %>
  </ul>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Ordered Lists</h1>
  </div>
  <ol class="ol">
    <li>
      Proin vitae euismod urna. Praesent.
      <ol class="ol">
        <li>
          Aliquam condimentum dui sed dui aliquam, fringilla iaculis.
        </li>
        <li>
          Suspendisse blandit diam eu turpis.
        </li>
      </ol>
    </li>
    <% 3.times do %>
      <li>Curabitur semper purus erat, non.</li>
    <% end %>
  </ol>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Definition Lists</h1>
  </div>
  <dl class="dl">
    <dt>This is a definition title</dt>
    <dd>This is a definition about the definition title</dd>
  </dl>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">List</h1>
  </div>
  <ul class="ul list">
    <% 3.times do %>
      <li class="list__item">Curabitur semper purus erat, non.</li>
    <% end %>
  </ul>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">List Horizontal</h1>
  </div>
  <ul class="ul list">
    <% 3.times do %>
      <li class="list__item list__item--horizontal">Curabitur semper purus erat, non.</li>
    <% end %>
  </ul>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Nav</h1>
  </div>
  <nav>
    <ul class="ul nav">
      <% 3.times do %>
        <li class="nav__item">
          <a class="nav__link">Curabitur</a>
        </li>
      <% end %>
    </ul>
  </nav>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Nav Horizontal</h1>
  </div>
  <nav>
    <ul class="ul nav">
      <% 3.times do %>
        <li class="nav__item--horizontal">
          <a class="nav__link">Curabitur</a>
        </li>
      <% end %>
    </ul>
  </nav>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Links</h1>
  </div>
  <p>
    <a class="link" href="#">Default Link</a>
    <a class="link link--primary" href="#">Primary Link</a>
    <a class="link link--secondary" href="#">Secondary Link</a>
    <a class="link link--alert" href="#">Alert Link</a>
    <a class="link link--success" href="#">Success Link</a>
    <a class="link link--warning" href="#">Warning Link</a>
    <a class="link link--secure" href="#">Secure Link</a>
  </p>
  <p>
    Nunc a dui vitae odio condimentum dignissim.
    <a class="link" href="#">Nunc vel urna</a>
    non nibh commodo vehicula at laoreet sem. Donec nisi purus,
    <a class="link link--warning" href="#">hendrerit eget eleifend</a>
    vitae, mollis at justo. Nullam non sollicitudin diam, nec porta erat. Aliquam eget laoreet nisi.
    <a class="link link--primary" href="#">Sed orci ante</a>
    facilisis quis ornare a,
    <a class="link link--alert" href="#">iaculis ac enim</a>
    fermentum nulla et sollicitudin viverra. Duis vulputate,
    <a class="link link--secure" href="#">dolor quis porttitor</a>
    feugiat, odio urna semper odio, eu dictum magna
    <a class="link link--success" href="#">lacus sit</a>
    amet arcu.
    <a class="link link--secondary" href="#">Curabitur hendrerit nunc</a>
    id est laoreet, ut venenatis eros iaculis. Etiam placerat porttitor nisi id tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. In non dui in mi malesuada cursus. Nam sit amet ex risus. Sed in leo eleifend, suscipit augue sed, pretium libero.
  </p>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Buttons</h1>
  </div>
  <p>
    <button class="button">Default Button</button>
    <button class="button button--primary">Primary Button</button>
    <button class="button button--secondary">Secondary Button</button>
    <button class="button button--alert">Alert Button</button>
    <button class="button button--success">Success Button</button>
    <button class="button button--warning">Warning Button</button>
    <button class="button button--secure">Secure Button</button>
  </p>
  <p>
    <button class="button">Default Button</button>
    <button class="button button--primary">Primary Button</button>
    <button class="button button--secondary">Secondary Button</button>
    <button class="button button--alert">Alert Button</button>
    <button class="button button--success">Success Button</button>
    <button class="button button--warning">Warning Button</button>
    <button class="button button--secure">Secure Button</button>
  </p>
  <p>
    <button class="button button--inverted">Default Button</button>
    <button class="button button--primary--inverted">Primary Button</button>
    <button class="button button--secondary--inverted">Secondary Button</button>
    <button class="button button--alert--inverted">Alert Button</button>
    <button class="button button--success--inverted">Success Button</button>
    <button class="button button--warning--inverted">Warning Button</button>
    <button class="button button--secure--inverted">Secure Button</button>
  </p>
  <p>
    <button class="button button--inverted">Default Button</button>
    <button class="button button--primary--inverted">Primary Button</button>
    <button class="button button--secondary--inverted">Secondary Button</button>
    <button class="button button--alert--inverted">Alert Button</button>
    <button class="button button--success--inverted">Success Button</button>
    <button class="button button--warning--inverted">Warning Button</button>
    <button class="button button--secure--inverted">Secure Button</button>
  </p>
  <p>
    <button class="button button--small">Small Button</button>
    <button class="button button-medium">Default/Medium Button</button>
    <button class="button button--large">Large Button</button>
  </p>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Checkboxes</h1>
  </div>
  <ul class="ul list list--unstyled">
    <li class="list__item list__item--form">
      <label class="label" for="check1">All Ideas (68)</label>
      <input class="boolean" id="check1" type="checkbox"></input>
    </li>
    <li class="list__item list__item--form">
      <label class="label" for="check2">Completed (25)</label>
      <input class="boolean" id="check2" type="checkbox"></input>
    </li>
    <li class="list__item list__item--form">
      <label class="label" for="check3">In Progress (35)</label>
      <input class="boolean" id="check3" type="checkbox"></input>
    </li>
    <li class="list__item list__item--form">
      <label class="label" for="check4">Planned (7)</label>
      <input class="boolean" id="check4" type="checkbox"></input>
    </li>
    <li class="list__item list__item--form">
      <label class="label" for="check5">Under Consideration (1)</label>
      <input class="boolean" id="check5" type="checkbox"></input>
    </li>
  </ul>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Radio Buttons</h1>
  </div>
  <ul class="ul list list--unstyled">
    <li class="list__item list__item--form">
      <label class="label" for="filtercheck1">All Ideas (68)</label>
      <input class="radio" id="filtercheck1" name="radio-example" type="radio"></input>
    </li>
    <li class="list__item list__item--form">
      <label class="label" for="filtercheck2">Completed (25)</label>
      <input class="radio" id="filtercheck2" name="radio-example" type="radio"></input>
    </li>
    <li class="list__item list__item--form">
      <label class="label" for="filtercheck3">In Progress (35)</label>
      <input class="radio" id="filtercheck3" name="radio-example" type="radio"></input>
    </li>
    <li class="list__item list__item--form">
      <label class="label" for="filtercheck4">Planned (7)</label>
      <input class="radio" id="filtercheck4" name="radio-example" type="radio"></input>
    </li>
    <li class="list__item list__item--form">
      <label class="label" for="filtercheck5">Under Consideration (1)</label>
      <input class="radio" id="filtercheck5" name="radio-example" type="radio"></input>
    </li>
  </ul>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Inputs</h1>
  </div>
  <form>
    <p>
      <label class="label" for="text-input">Text Input</label>
      <input class="input" id="text-input" placeholder="Text Input" type="text"></input>
    </p>
    <p>
      <label class="label" for="email-input">Email Input</label>
      <input class="input" id="email-input" placeholder="Email Input" type="email"></input>
    </p>
    <p>
      <label class="label" for="password-input">Password Input</label>
      <input class="input" id="password-input" placeholder="Password Input" type="password"></input>
    </p>
    <p>
      <label class="label" for="tel-input">Telephone Input</label>
      <input class="input" id="tel-input" placeholder="+1 (123) 456-7890" type="tel"></input>
    </p>
    <p>
      <label class="label" for="search-input">Search Input</label>
      <input class="input input--search" id="search-input" placeholder="search" type="search"></input>
    </p>
    <p>
      <label class="label" for="url-input">URL Input</label>
      <input class="input" id="url-input" placeholder="http://example.com" type="url"></input>
    </p>
    <p>
      <label class="label" for="date-input">Date Input</label>
      <input class="input" id="date-input" placeholder="1/15/19" type="date"></input>
    </p>
    <p>
      <label class="label" for="file-input">File Input</label>
      <input class="input" id="file-input" type="file"></input>
    </p>
    <p>
      <label class="label" for="number-input">Number Input</label>
      <input class="input" id="number-input" placeholder="123" type="number"></input>
    </p>
    <p>
      <label class="label" for="range-input">Range Input</label>
      <input class="input input--range" id="range-input" type="range"></input>
      (ONLY WORKS IN WEBKIT AT THE MOMENT)
    </p>
    <p>
      <label class="label">Text Area</label>
      <textarea class="textarea" placeholder="Text Area"></textarea>
    </p>
    <p>
      <label class="label">Select</label>
      <select class="select">
        <option>Select Input</option>
        <option>Select Option</option>
      </select>
    </p>
    <p>
      <input class="button" type="submit" value="Submit your post"></input>
    </p>
  </form>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Input Statuses</h1>
  </div>
  <form>
    <p>
      <label class="label error" for="input-error">Text Input Error</label>
      <input class="input input--error" id="input-error" placeholder="Text Input Error" type="text"></input>
    </p>
    <p>
      <label class="label success">Text Input Success</label>
      <input class="input input--success" placeholder="Text Input Success" type="text"></input>
    </p>
    <p>
      <label class="label">Text Input Disabled</label>
      <input class="input" placeholder="Text Input Disabled" type="text"></input>
    </p>
  </form>
</section>
<section>
  <div class="filter-bar">
    <div class="title-bar">
      <h1 class="title-bar__text">Filters</h1>
    </div>
    <div class="filter">
      <label class="filter__label" for="item_1">Part</label>
      <div class="filter__wrapper filter__wrapper--select">
        <select class="select filter__select">
          <option>Option</option>
          <option>Option two</option>
        </select>
      </div>
      <input class="input filter__input" id="item_1" placeholder="Search" type="text"></input>
    </div>
    <div class="filter">
      <label class="filter__label" for="item_6">Part</label>
      <div class="filter__wrapper filter__wrapper--select">
        <select class="select filter__select" id="item_6">
          <option>Option</option>
          <option>Option two</option>
        </select>
      </div>
    </div>
    <div class="filter">
      <label class="filter__label" for="item_2">Storage</label>
      <input class="input filter__input" id="item_2" placeholder="Part 123456" type="text"></input>
    </div>
    <div class="filter">
      <label class="filter__label">Multi-select</label>
      <input class="input input--checkbox filter__input filter__input--checkbox" id="item_3" type="checkbox"></input>
      <label class="filter__wrapper filter__wrapper--checkbox" for="item_3">
        Something
      </label>
      <input class="input input--checkbox filter__input filter__input--checkbox" id="item_4" type="checkbox"></input>
      <label class="filter__wrapper filter__wrapper--checkbox" for="item_4">
        Something
      </label>
    </div>
    <div class="filter">
      <label class="filter__label" for="item_5">Checkbox</label>
      <input class="input input--checkbox filter__input filter__input--checkbox" id="item_5" type="checkbox"></input>
      <label class="filter__wrapper filter__wrapper--checkbox" for="item_5"></label>
    </div>
    <div class="filter">
      <input class="button" type="submit" value="Submit"></input>
    </div>
  </div>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Search</h1>
  </div>
  <p>
    <div class="search">
      <input class="input input--search search__input" placeholder="Search" type="search"></input>
      <button class="button search__button" type="submit">
        <%= inline_svg "search.svg", class: "search__icon" %>
      </button>
    </div>
  </p>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Alerts</h1>
  </div>
  <p>
    <div class="notifier">
      <div class="notifier__content">
        Notifier Bar Default
        <a class="notifier__close">&times;</a>
      </div>
    </div>
    <div class="notifier notifier--primary">
      <div class="notifier__content">
        Notifier Bar Primary
        <a class="notifier__close">&times;</a>
      </div>
    </div>
    <div class="notifier notifier--secondary">
      <div class="notifier__content">
        Notifier Bar Secondary
        <a class="notifier__close">&times;</a>
      </div>
    </div>
    <div class="notifier notifier--function">
      <div class="notifier__content">
        Notifier Bar Function
        <a class="notifier__close">&times;</a>
      </div>
    </div>
    <div class="notifier notifier--alert">
      <div class="notifier__content">
        Notifier Bar Alert
        <a class="notifier__close">&times;</a>
      </div>
    </div>
    <div class="notifier notifier--secure">
      <div class="notifier__content">
        Notifier Bar Secure
        <a class="notifier__close">&times;</a>
      </div>
    </div>
    <div class="notifier notifier--warning">
      <div class="notifier__content">
        Notifier Bar Warning
        <a class="notifier__close">&times;</a>
      </div>
    </div>
    <div class="notifier notifier--success">
      <div class="notifier__content">
        Notifier Bar Success
        <a class="notifier__close">&times;</a>
      </div>
    </div>
  </p>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Panels</h1>
  </div>
  <div class="panel">
    <h2>Panel Default</h2>
    <p>Nunc a dui vitae odio condimentum dignissim. Nunc vel urna non nibh commodo vehicula at laoreet sem. Donec nisi purus, hendrerit eget eleifend vitae, mollis at justo. Nullam non sollicitudin diam, nec porta erat. Aliquam eget laoreet nisi. Sed orci ante, facilisis quis ornare a, iaculis ac enim. Donec fermentum nulla et sollicitudin viverra. Duis vulputate, dolor quis porttitor feugiat, odio urna semper odio, eu dictum magna lacus sit amet arcu. Curabitur hendrerit nunc id est laoreet, ut venenatis eros iaculis. Etiam placerat porttitor nisi id tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. In non dui in mi malesuada cursus. Nam sit amet ex risus. Sed in leo eleifend, suscipit augue sed, pretium libero.</p>
  </div>
  <div class="panel panel--primary">
    <h2>Panel Primary</h2>
    <p>Nunc a dui vitae odio condimentum dignissim. Nunc vel urna non nibh commodo vehicula at laoreet sem. Donec nisi purus, hendrerit eget eleifend vitae, mollis at justo. Nullam non sollicitudin diam, nec porta erat. Aliquam eget laoreet nisi. Sed orci ante, facilisis quis ornare a, iaculis ac enim. Donec fermentum nulla et sollicitudin viverra. Duis vulputate, dolor quis porttitor feugiat, odio urna semper odio, eu dictum magna lacus sit amet arcu. Curabitur hendrerit nunc id est laoreet, ut venenatis eros iaculis. Etiam placerat porttitor nisi id tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. In non dui in mi malesuada cursus. Nam sit amet ex risus. Sed in leo eleifend, suscipit augue sed, pretium libero.</p>
  </div>
  <div class="panel panel--secondary">
    <h2>Panel Secondary</h2>
    <p>Nunc a dui vitae odio condimentum dignissim. Nunc vel urna non nibh commodo vehicula at laoreet sem. Donec nisi purus, hendrerit eget eleifend vitae, mollis at justo. Nullam non sollicitudin diam, nec porta erat. Aliquam eget laoreet nisi. Sed orci ante, facilisis quis ornare a, iaculis ac enim. Donec fermentum nulla et sollicitudin viverra. Duis vulputate, dolor quis porttitor feugiat, odio urna semper odio, eu dictum magna lacus sit amet arcu. Curabitur hendrerit nunc id est laoreet, ut venenatis eros iaculis. Etiam placerat porttitor nisi id tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. In non dui in mi malesuada cursus. Nam sit amet ex risus. Sed in leo eleifend, suscipit augue sed, pretium libero.</p>
  </div>
  <div class="panel panel--function">
    <h2>Panel Function</h2>
    <p>Nunc a dui vitae odio condimentum dignissim. Nunc vel urna non nibh commodo vehicula at laoreet sem. Donec nisi purus, hendrerit eget eleifend vitae, mollis at justo. Nullam non sollicitudin diam, nec porta erat. Aliquam eget laoreet nisi. Sed orci ante, facilisis quis ornare a, iaculis ac enim. Donec fermentum nulla et sollicitudin viverra. Duis vulputate, dolor quis porttitor feugiat, odio urna semper odio, eu dictum magna lacus sit amet arcu. Curabitur hendrerit nunc id est laoreet, ut venenatis eros iaculis. Etiam placerat porttitor nisi id tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. In non dui in mi malesuada cursus. Nam sit amet ex risus. Sed in leo eleifend, suscipit augue sed, pretium libero.</p>
  </div>
  <div class="panel panel--alert">
    <h2>Panel Alert</h2>
    <p>Nunc a dui vitae odio condimentum dignissim. Nunc vel urna non nibh commodo vehicula at laoreet sem. Donec nisi purus, hendrerit eget eleifend vitae, mollis at justo. Nullam non sollicitudin diam, nec porta erat. Aliquam eget laoreet nisi. Sed orci ante, facilisis quis ornare a, iaculis ac enim. Donec fermentum nulla et sollicitudin viverra. Duis vulputate, dolor quis porttitor feugiat, odio urna semper odio, eu dictum magna lacus sit amet arcu. Curabitur hendrerit nunc id est laoreet, ut venenatis eros iaculis. Etiam placerat porttitor nisi id tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. In non dui in mi malesuada cursus. Nam sit amet ex risus. Sed in leo eleifend, suscipit augue sed, pretium libero.</p>
  </div>
  <div class="panel panel--secure">
    <h2>Panel Secure</h2>
    <p>Nunc a dui vitae odio condimentum dignissim. Nunc vel urna non nibh commodo vehicula at laoreet sem. Donec nisi purus, hendrerit eget eleifend vitae, mollis at justo. Nullam non sollicitudin diam, nec porta erat. Aliquam eget laoreet nisi. Sed orci ante, facilisis quis ornare a, iaculis ac enim. Donec fermentum nulla et sollicitudin viverra. Duis vulputate, dolor quis porttitor feugiat, odio urna semper odio, eu dictum magna lacus sit amet arcu. Curabitur hendrerit nunc id est laoreet, ut venenatis eros iaculis. Etiam placerat porttitor nisi id tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. In non dui in mi malesuada cursus. Nam sit amet ex risus. Sed in leo eleifend, suscipit augue sed, pretium libero.</p>
  </div>
  <div class="panel panel--warning">
    <h2>Panel Warning</h2>
    <p>Nunc a dui vitae odio condimentum dignissim. Nunc vel urna non nibh commodo vehicula at laoreet sem. Donec nisi purus, hendrerit eget eleifend vitae, mollis at justo. Nullam non sollicitudin diam, nec porta erat. Aliquam eget laoreet nisi. Sed orci ante, facilisis quis ornare a, iaculis ac enim. Donec fermentum nulla et sollicitudin viverra. Duis vulputate, dolor quis porttitor feugiat, odio urna semper odio, eu dictum magna lacus sit amet arcu. Curabitur hendrerit nunc id est laoreet, ut venenatis eros iaculis. Etiam placerat porttitor nisi id tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. In non dui in mi malesuada cursus. Nam sit amet ex risus. Sed in leo eleifend, suscipit augue sed, pretium libero.</p>
  </div>
  <div class="panel panel--success">
    <h2>Panel Success</h2>
    <p>Nunc a dui vitae odio condimentum dignissim. Nunc vel urna non nibh commodo vehicula at laoreet sem. Donec nisi purus, hendrerit eget eleifend vitae, mollis at justo. Nullam non sollicitudin diam, nec porta erat. Aliquam eget laoreet nisi. Sed orci ante, facilisis quis ornare a, iaculis ac enim. Donec fermentum nulla et sollicitudin viverra. Duis vulputate, dolor quis porttitor feugiat, odio urna semper odio, eu dictum magna lacus sit amet arcu. Curabitur hendrerit nunc id est laoreet, ut venenatis eros iaculis. Etiam placerat porttitor nisi id tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. In non dui in mi malesuada cursus. Nam sit amet ex risus. Sed in leo eleifend, suscipit augue sed, pretium libero.</p>
  </div>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Table</h1>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td>2011/04/25</td>
        <td>$320,800</td>
      </tr>
      <tr>
        <td>Garrett Winters</td>
        <td>Accountant</td>
        <td>Tokyo</td>
        <td>63</td>
        <td>2011/07/25</td>
        <td>$170,750</td>
      </tr>
      <tr>
        <td>Ashton Cox</td>
        <td>Junior Technical Author</td>
        <td>San Francisco</td>
        <td>66</td>
        <td>2009/01/12</td>
        <td>$86,000</td>
      </tr>
      <tr>
        <td>Cedric Kelly</td>
        <td>Senior Javascript Developer</td>
        <td>Edinburgh</td>
        <td>22</td>
        <td>2012/03/29</td>
        <td>$433,060</td>
      </tr>
      <tr>
        <td>Airi Satou</td>
        <td>Accountant</td>
        <td>Tokyo</td>
        <td>33</td>
        <td>2008/11/28</td>
        <td>$162,700</td>
      </tr>
      <tr>
        <td>Bruno Nash</td>
        <td>Software Engineer</td>
        <td>London</td>
        <td>38</td>
        <td>2011/05/03</td>
        <td>$163,500</td>
      </tr>
      <tr>
        <td>Sakura Yamamoto</td>
        <td>Support Engineer</td>
        <td>Tokyo</td>
        <td>37</td>
        <td>2009/08/19</td>
        <td>$139,575</td>
      </tr>
      <tr>
        <td>Thor Walton</td>
        <td>Developer</td>
        <td>New York</td>
        <td>61</td>
        <td>2013/08/11</td>
        <td>$98,540</td>
      </tr>
      <tr>
        <td>Finn Camacho</td>
        <td>Support Engineer</td>
        <td>San Francisco</td>
        <td>47</td>
        <td>2009/07/07</td>
        <td>$87,500</td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <div class="title-bar">
    <h1 class="title-bar__text">Responsive Table</h1>
  </div>
  <table class="table--responsive">
    <thead class="table--responsive__head">
      <tr class="table--responsive__row">
        <th class="table--responsive__cell">Name</th>
        <th class="table--responsive__cell">Position</th>
        <th class="table--responsive__cell">Office</th>
        <th class="table--responsive__cell">Age</th>
        <th class="table--responsive__cell">Start date</th>
        <th class="table--responsive__cell">Salary</th>
      </tr>
    </thead>
    <tfoot class="table--responsive__foot">
      <tr class="table--responsive__row">
        <th class="table--responsive__cell">Name</th>
        <th class="table--responsive__cell">Position</th>
        <th class="table--responsive__cell">Office</th>
        <th class="table--responsive__cell">Age</th>
        <th class="table--responsive__cell">Start date</th>
        <th class="table--responsive__cell">Salary</th>
      </tr>
    </tfoot>
    <tbody class="table--responsive__body">
      <tr class="table--responsive__row">
        <td class="table--responsive__cell">Tiger Nixon</td>
        <td class="table--responsive__cell">System Architect</td>
        <td class="table--responsive__cell">Edinburgh</td>
        <td class="table--responsive__cell">61</td>
        <td class="table--responsive__cell">2011/04/25</td>
        <td class="table--responsive__cell">$320,800</td>
      </tr>
      <tr class="table--responsive__row">
        <td class="table--responsive__cell">Garrett Winters</td>
        <td class="table--responsive__cell">Accountant</td>
        <td class="table--responsive__cell">Tokyo</td>
        <td class="table--responsive__cell">63</td>
        <td class="table--responsive__cell">2011/07/25</td>
        <td class="table--responsive__cell">$170,750</td>
      </tr>
      <tr class="table--responsive__row">
        <td class="table--responsive__cell">Ashton Cox</td>
        <td class="table--responsive__cell">Junior Technical Author</td>
        <td class="table--responsive__cell">San Francisco</td>
        <td class="table--responsive__cell">66</td>
        <td class="table--responsive__cell">2009/01/12</td>
        <td class="table--responsive__cell">$86,000</td>
      </tr>
      <tr class="table--responsive__row">
        <td class="table--responsive__cell">Cedric Kelly</td>
        <td class="table--responsive__cell">Senior Javascript Developer</td>
        <td class="table--responsive__cell">Edinburgh</td>
        <td class="table--responsive__cell">22</td>
        <td class="table--responsive__cell">2012/03/29</td>
        <td class="table--responsive__cell">$433,060</td>
      </tr>
      <tr class="table--responsive__row">
        <td class="table--responsive__cell">Airi Satou</td>
        <td class="table--responsive__cell">Accountant</td>
        <td class="table--responsive__cell">Tokyo</td>
        <td class="table--responsive__cell">33</td>
        <td class="table--responsive__cell">2008/11/28</td>
        <td class="table--responsive__cell">$162,700</td>
      </tr>
      <tr class="table--responsive__row">
        <td class="table--responsive__cell">Bruno Nash</td>
        <td class="table--responsive__cell">Software Engineer</td>
        <td class="table--responsive__cell">London</td>
        <td class="table--responsive__cell">38</td>
        <td class="table--responsive__cell">2011/05/03</td>
        <td class="table--responsive__cell">$163,500</td>
      </tr>
      <tr class="table--responsive__row">
        <td class="table--responsive__cell">Sakura Yamamoto</td>
        <td class="table--responsive__cell">Support Engineer</td>
        <td class="table--responsive__cell">Tokyo</td>
        <td class="table--responsive__cell">37</td>
        <td class="table--responsive__cell">2009/08/19</td>
        <td class="table--responsive__cell">$139,575</td>
      </tr>
      <tr class="table--responsive__row">
        <td class="table--responsive__cell">Thor Walton</td>
        <td class="table--responsive__cell">Developer</td>
        <td class="table--responsive__cell">New York</td>
        <td class="table--responsive__cell">61</td>
        <td class="table--responsive__cell">2013/08/11</td>
        <td class="table--responsive__cell">$98,540</td>
      </tr>
      <tr class="table--responsive__row">
        <td class="table--responsive__cell">Finn Camacho</td>
        <td class="table--responsive__cell">Support Engineer</td>
        <td class="table--responsive__cell">San Francisco</td>
        <td class="table--responsive__cell">47</td>
        <td class="table--responsive__cell">2009/07/07</td>
        <td class="table--responsive__cell">$87,500</td>
      </tr>
    </tbody>
  </table>
</section>
