<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>CEO</title>
    <%= stylesheet_link_tag 'admin/application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper wrapper--wide">
      <%= render 'layouts/header' %>
    </div>

    <main class="wrapper wrapper--main">
      <div class="content">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
