////////////////////
// Search Objects 
////////////////////

.search
  display: inline-block
  
  // .search__input
  &__input
    display: block
    float: left
    margin: 0 
    width: auto

  // .search__button
  &__button
    display: inline-block
    float: left
    margin: 0

  // .search__icon
  &__icon
    display: block
    height: 1.5em
    
